/* css variables*/
:root {
  --primary-color: #1F2937; 
  --primary-color-light: #374151; 
  --accent-color: #3B82F6; 
  --accent-color-light: #60A5FA;
  --accent-color-dark: #2563EB; 
  --white-color: #F9FAFB; 
  --light-gray-color: #D1D5DB; 
  --medium-gray-color: #6B7280; 
  --dark-gray-color: #111827; 
  --bg-color: #1A202C; 
  --code-bg-color: #2D3748; 
}


/* normalized */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--bg-color);
}
li{
  list-style-type: none;
}
p {
  font-weight: 300;
  color: var(--light-gray-color);
}

a, a:hover {
  text-decoration: none;
  color: var(--white-color);
}

hr {
  padding: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--code-bg-color);
}

* {
  box-sizing: border-box;
}

.section__title {
  color: var(--white-color);
}


.link {
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.link:hover {
  color: var(--accent-color);
}

.link--dark {
  color: var(--white-color);
}

.link--light {
  color: var(--accent-color);
}


nav {
  display: grid;
  grid-template-columns: 70px auto;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  text-align: right;
  overflow: hidden;
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  width: 70%;
}


@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0,30px,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
